<wicket:panel xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">

    <div wicket:id="container">
        <div wicket:id="dzDiv" class="dz-form"></div>
        <button class="upload-button" onclick="processDropzoneQueue(event)">Upload Files</button>
        <!--
        <div class="dz-preview dz-file-preview">
            <div class="dz-details">
                <div class="dz-filename"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="dz-success-mark">Yes</div>
                <div class="dz-error-mark">No</div>
                <div class="dz-error-message"><span data-dz-error-message></span></div>
            </div>
        </div>
        -->
    </div>

    <div wicket:id="uploadMsg"></div>

</wicket:panel>