<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master">

<wicket:extend>
    <label for="totalUsers">Total Users:</label>
    <span id="totalUsers" wicket:id="totalUsers"></span>
    <label for="newUsers">New Users:</label>
    <span id="newUsers" wicket:id="newUsers"></span>
    <label for="removedUsers">Removed Users:</label>
    <span id="removedUsers" wicket:id="removedUsers"></span>
</wicket:extend>

</html>